@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
}
button{
    cursor: pointer;
}

.carta{
    width: 100%;
    height: 100vh;

}
img{
    max-width: 100%;
}
.imfomacion_personal{
    border-radius: 0px 5px 5px 0px;
    background: #000;
    width: 400px;
    height: 100vh;
    text-align: center;
    overflow: auto;
    padding-bottom: 30px;
}

.imfomacion_personal::-webkit-scrollbar{
    width: 7px;
    background: #000;
    border-radius: 15px;
}
.imfomacion_personal::-webkit-scrollbar-thumb{
    background: var(--clr);
    border-radius: 15px;
}
.img_Nombre img{
    pointer-events: none;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 50%;
}
/* var(--clr) */
.img_Nombre h1{
    /* color:  lime; */
    color: var(--clr);
    font-weight: 1;
    font-size: 30px;
    width: 99%;
    margin: 0 auto;
    margin-top: 10px;
}

.historia{
    border-radius: 15px;
    display: block;
    padding: 5px;
    width: 95%;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    pointer-events: none;
    /* opacity: 90%; */
    margin-top: 10px;
    text-align: left;
    color: #fff;
    transition: 5s;
    /* border-left: 1px solid #fff ; */
}
#Ver_mas{
    width: 130px;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    color: #000;
    background: #fff;
    border: none;
}
.btn_lenguajes{
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
}
.sub{
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    color: #fff;
    text-align: left;
}
.sub::after{
    content: "";
    display: block;
    height: 2px;
    /* background: lime; */
    background: var(--clr);
    width: 50px;
}
.btn_lenguajes button{
    display: inline;
    width: 40px;
    height: 40px;
    position: relative;
    background: #ffffff00;
    cursor: pointer;
}

.btn_lenguajes i{
    font-size: 30px;
}
.btn_lenguajes i:hover{
    scale: 110%;
}
.fa-html5{
    color: rgb(255, 115, 0);
}
.fa-css3-alt{
    color: rgb(0, 162, 255);
}
.fa-js{
    color: rgb(255, 230, 0);
    background: #000;
}